body {
      font-family: 'Montserrat';
      color: white;
      background-image: url('background.jpg');
}

/* Header */

#header{    
      margin-top: 40vh;
}

#header h5{
      font-weight: 300;
}

#mode{
      margin-top: 30px;
}

#mode .btn {
      border: 0;
      border-radius: 25px;
      font-size: 20px;
      padding: 10px 20px;
}

/* Info game (counter, timer) */

#info {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 20px;
      width: 27%;
      border: 0;
      border-radius: 20px;
}

/* Responsive for mobile */
@media screen and (max-width: 414px){
      #info {
            width: 90%;
      }
}

/* Responsive for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){
      #info {
            width: 90%;
      }
}


#counter p {
      display: inline;
}

#timer p {
      display: inline;
}

#counter, #timer{
      margin-top: 20px;
      display: none;
}

#counter{
      padding-right: 50px;
}

/* Board game */

.board table{
      margin: 0 auto;
}

#game {
      margin-top: 20px;
}

#game img {
      width: 9vw;
}

/* Responsive for mobile */
@media screen and (max-width: 414px){
      #game img {
            width: 100%;
      }
}

/* Responsive for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){
      #game img {
            width: 100%;
      }
}


.disable {
	pointer-events: none;
}

/* Win modal */

.over-count p{
      display: inline;
}

.over-time p{
      display: inline;
}

#win-modal{
      color: black;
}